.background-fullsize {
    height: 100%;
    width: 100%;
}
.home-container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
.centered-heading {
    font-family: 'Arizonia';
    font-size: 100px;
    margin: 0;
}
.btn {
    border: 2px solid white;
    border-radius: 8px; 
    background: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width:1200px){
    .centered-heading {
        font-family: 'Arizonia';
        font-size: 80px;
        margin: 0;
    }
    .btn {
        border: 2px solid white;
        border-radius: 8px; 
        background: none;
        color: white;
        padding: 12px 24px;
        font-size: 16px;
        cursor: pointer;
    }
}
@media (max-width:800px){
    .centered-heading {
        font-family: 'Arizonia';
        font-size: 60px;
        margin: 0;
    }
    .btn {
        border: 2px solid white;
        border-radius: 8px; 
        background: none;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
}
@media (max-width:600px){
    .centered-heading {
        font-family: 'Arizonia';
        font-size: 50px;
        margin: 0;
    }
    .btn {
        border: 2px solid white;
        border-radius: 8px; 
        background: none;
        color: white;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
    }
}
.success:hover {
    background-color:white;
    color: black;
    border: 2px solid black;
}